* {
  padding: 0;
  margin: 0;
}

#getNameId {
  text-align: center;
  margin-top: 50vh;
}
body {
  background: url(picture/pxfuel.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.hero {
  background-image: url(picture/moonbackground.jpg);
  background-size: cover;
  width: 40%;
  padding: 15px 0px;
  border-radius: 30px;
  opacity: 0.6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle-progress {
  width: 160px;
  height: 160px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.outer {
  width: 160px;
  height: 160px;
  border: 1px solid none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 6px -1px rgba(0, 0, 0, 0.15),
    -6px -6px -10px -1px rgba(225, 225, 225, 0.7);
}
.inner {
  width: 120px;
  height: 120px;
  border: 1px solid none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 7px 4px 50px -4px rgba(209, 209, 209, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b82298;
  font-weight: 500;
}

#circleProgress {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  opacity: 0.8;
  stroke-dasharray: 472;
  transition: 0.4s;
}

.circle-progress svg {
  position: absolute;
  top: 0;
  left: 0;
}

.input input {
  width: 30vw;
  margin-top: 70px;
  color: #ffff;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 7px 4px 50px -4px rgba(209, 209, 209, 0.6);
  border: 1px none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.textstyle {
  color: white;
}

#delete-button {
  background: none;
  border: none;
  cursor: pointer;
}
#edit-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.div-container {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid white;
  background-color: rgba(144, 69, 214, 0.057);
  box-shadow: 7px 4px 50px -4px rgba(209, 209, 209, 0.6);
  margin-top: 40px;
  border-radius: 30px;
}

.textAndCheckbx {
  display: flex;
}

.checkBox {
  margin-right: 10px;
  accent-color: #9d3039;
  background-color: none;
  line-height: 2;
}

.editBut {
  margin-right: 10px;
  cursor: pointer;
  border: none;
  color: #ffff;
}

.delBut {
  border: none;
  color: #ffff;
  cursor: pointer;
}

.title-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
}

.small-text {
  font-size: 1rem;
}

#new-task-button {
  color: gray;
  background-image: 10vw;
  cursor: pointer;
}

.textstyle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}
