* {
    padding: 0;
    margin: 0;
}

#getNameId {
  text-align: center;
  margin-top: 50vh;
}
body {
    background: url(picture/pxfuel.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.hero {
    background-image: url(picture/pexels-codioful-7130560.jpg);
    background-size: cover;
    width: 40%;
    padding: 15px 0px;
    border-radius: 30px;
    opacity: 0.7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle-progress{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.outer{
    width: 160px;
    height: 160px;
    border: 1px solid none;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
    box-shadow: 6px 6px 6px -1px rgba(0, 0, 0, 0.15), -6px -6px -10px -1px rgba(225,225,225,0.7);
}
.inner{
    width: 120px;
    height: 120px;
    border: 1px solid none;
    border-radius: 50%;
    box-shadow:  4px 4px 6px -1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    opacity: 0.8;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
 
.circle-progress svg{
  
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim {
    100%{
        stroke-dashoffset: 165;
    }
   
}
.input input{
    width: 30vw;
    margin-top: 100px;
    color: #ffff;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 7px 4px 50px -4px rgba(209, 209, 209, 0.6);
    border: 1px none;
    border-radius: 10px;
    margin-bottom: 30px;
    
    
}

/* .text-container {
    display: flex;
    justify-content: space-between;
} */

*content {
    background-color: rgb(55, 29, 79);
    opacity: 0.7;
    width: 30vw;
    border-radius: 50px;
   
    display: flex;
    align-items: center;

    
 
}

/* .todo-text{
    flex-grow: 1;
    padding: 20px;
    
} */

#delete-button {
    background: none;
    border: none;
    cursor: pointer;
}
#edit-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}
/* .custom-checkbox{
    border: 2px solid rgb(198, 52, 186);
    border-radius:50%;
    min-height: 20px;
    min-width: 20px
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: rgb(198, 52, 186);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: black;
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: gray;
}

.list input{
    display: none;
} */